{% extends 'base.html' %}
{% block title %}
    Вопросы для собеседования 
{% endblock %}

{% block content %}
    {% include 'category.html' %}

    <div class="row g-2" style="position:absolute; top: 8%;left: 20%;right: 5%;">
        <div class="feature col" >

        <div style="margin-bottom:10px;padding:10px;box-shadow: 0px 0px 5px 0px rgba(211, 211, 211, 0.87);">
            <span>Сортировка по грейдам</span>
            <form action="{{ url_for('index') }}" method="POST" style="margin-top:5px">
                <div class="input-group">
                    <select class="form-select" id="difficulty" onchange="getURLForGradeQuestions()">
                    <option selected>Все грейды</option>
                    {% for dif in difficulty%}

                        <option value="{{ dif.title }}">{{ dif.title }}</option>
                    {% endfor %}

                    </select>
                    <button class="btn btn-outline-secondary" type="submit">Отсортировать</button>
                </div>
            </form>
        </div>

        {% for question in questions %}
            <div style="box-shadow: 0px 0px 5px 0px rgba(211, 211, 211, 0.87);">
                <div style="padding:5px;">
                    <h5>Вопрос: {{ question.title }}<span class="badge text-bg-secondary" style="margin-left:5px" >{{ question.interview_count }}</span></h5>
                </div>
                <div style="color: black; border-bottom:1px solid black; padding:5px;">
                    {% for block in question.blocks|reverse %}
                        <button class="btn btn-success " style="font-size:13px" type="submit" aria-expanded="false" aria-controls="collapseExample">
                            <a href="{{ url_for('block') }}?block_id={{ block.block_id }}" style="color:white; " class="{% if block.block_id==request.query_params.get('block_id')|int %} active {% endif %}" aria-current="true">{{ block.block.title }}</a>
                        </button>
                        
                        {% if not loop.last %}
                            <span>-></span>
                        {% endif %}

                    {% endfor %}
                </div>
                {{ question.text_question|safe }}
                <div> 
                    {% for answer in question.answers %}
                    
                        <p class="d-inline-flex gap-1">
                            <button class="btn btn-primary" style="margin-left:5px;" type="button" data-bs-toggle="collapse" data-bs-target="#{{ question.id }}_{{ answer.difficulty.title }}" aria-expanded="false" aria-controls="collapseExample">
                                {% if answer.difficulty == none %}
                                    Показать ответ
                                {% else %}
                                  Показать ответ для: {{ answer.difficulty.title }}
                                {% endif %}
                                
                            </button>
                        </p>
                        <div class="collapse" id="{{ question.id }}_{{ answer.difficulty.title }}">
                            <div class="card card-body">
                                {{ answer.content|safe }}
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
            </br>
        {% endfor %}
        </div>
    </div>
    
{% endblock %}